<head>
<style>
.green
{
color:green;
}
</style>
<a ng-click="back()" class="btn btn-info pull-right" href="javascript:"><span class="glyphicon glyphicon-arrow-left"></span>Back</a>

<a data-ng-href="#/getbook/{{currBook.id}}" class="btn btn-success pull-left" role="button" data-ng-disabled="book.availability == 0"><span class="glyphicon glyphicon-plus"></span>Add Book</a>
<br/>

<div ng-show="currBook">
    
<h3>{{currBook.name}}</h3>
   
 <div class="row">
        
<div class="col-md-4">
          
  <img data-ng-src="{{currBook.thumb}}">
       
 </div>
        <div class="col-md-6">
            
<h4>Review</h4>
           
 <span data-ng-repeat="i in getCount(currBook.rating) track by $index" class="glyphicon glyphicon-star green"></span>
         
   <label>{{currBook.review}}</label>
       
 </div>
    </div>
</div>